@use "./reset";
@use "./variables";

#root {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;

    // Font settings
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    // Default text styles size = s, weight = regular
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--background-primary);
}
